<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta id="themecolor" name="theme-color" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/script.js" async></script>
    <title>{{ .Title | safeHTML }}</title>
  </head>
  
  <body>
    <div id="maincontent">
      {{ .Content }}
    </div>
  </body>
  
</html>
