
body {
  padding-top: 5em;
  transition: 1s;
  background-color: #E91E63; /* IE Fallback */
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);
  font-family: Arial;
}


#maincontent {
  transition: 1s;
  background-color: #F8BBD0; /* IE Fallback */
  background-color: var(--light-primary-color);
  color: #212121; /* IE Fallback */
  color: var(--primary-text-color);
  
  margin: auto;
  padding: 1em 2em;
  max-width: 750px;
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

footer {
  margin-top: 2em;
}

.menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.menu li {
  padding: 1em 0.5em;
  white-space: nowrap;
}

b,a,strong {
  color: var(--default-primary-color);
  transition: color 1s;
}

#copyright {
  margin-top: 3em;
}
#ccflex {
  display: flex;
  margin-bottom: 0.9em;
}
#cccontainer {
  width: 10em;
}
#copyright img {
  height: 2em;
}

#style {
  margin-top: 3em;
}

#styleselector {
  display: flex;
  width: 100%;
}

.styleoption {
  cursor: pointer;
  width: 0;
  padding: 0.8em;
  flex-grow: 1;
  text-align: center;
  border: solid 0.2em var(--default-primary-color);
}

.styleoption.selected {
  
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);
}


@media (max-width: 768px) {
  body {
    padding: 1em 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  #maincontent {
    margin: 0em;
    padding: 1em 1em;
  }
  
  #ccflex {
    flex-direction: column;
  }
}

@media (max-width: 359px) {
  #styleselector {
    flex-direction: column;
  }
  .styleoption {
    width: auto;
  }
  .menu {
    flex-direction: column;
  }
}