<div id="style">
    <h2>Style</h2>
    <div id="styleselector">
        {{ $options := split (.Get "options") " " }}

        {{ range $i, $o := $options }}
        {{ $option := split $o ":"}}
        <div id="styleoption-{{ index $option 0 }}" class="styleoption{{ if eq $i 0}} selected{{end}}" x-color="{{ index $option 1 }}">{{ index $option 2 }}</div>
        {{ end }}
    </div>
</div>